.toolbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  background-color: white;
  box-shadow: 24;
  border-radius: 25px;
}

.modalBody {
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
